.ChatMessageBar {
  align-items: center;
  background-color: #282843;
  border-radius: 100px;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  gap: 15px;
  height: 52px;
  margin-top: 24px;
  padding: 14px 24px;
  width: 100%;
}

.message-textarea {
  background-color: transparent;
  border: none;
  color: #E1E1E6;
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  min-height: 14px;
  outline: none;
  resize: none;
  white-space: break-spaces;
  width: 100%;
}

.message-textarea::-webkit-scrollbar {
  display: none;
}

.message-textarea::placeholder {
  color: #E1E1E6;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.send-msg-btn {
  background-color: transparent;
  border: none;
  height: 20px;
  width: 23px;
}

.send-msg-icon {
  cursor: pointer;
  height: 20px;
  width: 23px;
}