.ChatMessagesContainer {
  display: flex;
  flex-flow: column nowrap;
}

.chat-general-time {
  color: #E1E1E6;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin: 25px;
  text-align: center;
}

.message-list {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  gap: 30px;
  height: calc(100vh - 236px);
  overflow: auto;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.message-list > li {
  list-style: none;
}
